{:paths ["bb"]
 :tasks
 {:requires ([tasks :as tasks]
             [logger :refer [log]]
             [babashka.fs :as fs]
             [clojure.string :as string])

  :init
  (do (log "bb.edn running task"))

  test       (tasks/shell-and-log (str "sh ./addons/gdUnit4/runtest.sh -c -a test"))
  test-match (let [arg (some-> *command-line-args* first)]
               (tasks/shell-and-log (str "sh ./addons/gdUnit4/runtest.sh -c -a " arg)))

  watch tasks/watch

  docsify (tasks/shell-and-log "docsify serve docs")

  serve-web
  {:extra-deps {org.babashka/http-server {:local/root "../../babashka/http-server"}}
   :requires   ([babashka.http-server :as http-server])
   :task       (http-server/exec {:port 3010 :dir (str "dist/dothop-web")})}

  generate-boxart
  {:description ""
   :task        (tasks/generate-all-boxart)}
  export-boxart
  {:description ""
   :task        (tasks/export-all-boxart)}

  gd-plug
  (tasks/shell-and-log
    (str "godot --no-window -s plug.gd " (string/join " " *command-line-args*)))
  }}
